:root {
  --color-text-main: #fff;
  --font-size-big: 18px;
}

:root {
  --Wt1: #fff;
  --BK1: #18191c;
  --BK2: #505050;
  /* 常态蓝1 */
  --Bl1: #16a9da;
  /* 常态蓝2 */
  --Bl2: #00aeec;
  /* hover之后变的淡蓝 */
  --Bl3: #26baef;
  --PK1: #fb7299;
  --PK-Hover1: #fc8bab;
  --GR1: #e3e5e7;
  --GR2: #F1F2F3;
  /* 轮播图图片颜色 */
  --Carimg1: #011469;
  --Carimg2: blue;
  --Carimg3: red;
  --Carimg4: red;
  --Carimg5: red;
  --Carimg6: red;
  --Carimg7: red;
  --Carimg8: red;
  --Carimg9: red;
}
