:root {
  --text1: #1c1d20;
  --text2: #323336;
  --Text3: #61666d;
  --color-text-main: #fff;
  --font-size-big: 18px;
}

:root {
  --Wt1: #fff;
  --BK1: #18191c;
  --BK2: #505050;
  --Bl1: #16a9da;
  --Bl2: #00aeec;
  --Bl3: #26baef;
  --Bl4: #1296db;
  --PK1: #fb7299;
  --PK2: #ff6699;
  --PK-Hover1: #fc8bab;
  --GR1: #e3e5e7;
  --GR2: #f1f2f3;
  --GR3: #999999;
  --GR4: #757575;
  --GR5: #666b72;
  /* 轮播图图片颜色 */
  --Carimg1: #011469;
  --Carimg2: blue;
  --Carimg3: red;
  --Carimg4: red;
  --Carimg5: red;
  --Carimg6: red;
  --Carimg7: red;
  --Carimg8: red;
  --Carimg9: red;
}
